body{
  background-color: white;
}
p{
  font-family: Verdana;
  font-size: 18px;
  color: rgb(231, 212, 212);
}

h1{
font-family: verdana;
font-size: 18px;
color: black;
}

h2{
font-family: verdana;
font-size: 20px;
color: black;
}

img{
font-size: 12px;
}

h3, h4, h5{
  color: chartreuse;
}

