body{
    background-color: white
}

p{
  font-family: Verdana;
  font-size: 18px;
  color: aliceblue;
}

h1{
font-family: verdana;
font-size: 18px;
color: aliceblue;
}

h2{
font-family: verdana;
font-size: 18px;
color: aliceblue;
}

img{
font-size: 12px;
}