
p{
  font-family: Verdana;
  font-size: 18px;
  color: rgb(202, 89, 89);
}

h1{
font-family: verdana;
font-size: 18px;
color: black;
}

h2{
font-family: verdana;
font-size: 18px;
color: black;
}

img{
font-size: 12px;
}

h3, h4, h5{
  color: chartreuse;
}

